# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create a Jupyter Notebook
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Introduce arithmetic expression examples
* List commonly used Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikitlearn
4. SciPy
5. Seaborn

|Data Science Tools |
| ------ | 
| RStudio | 
| VScode |
| Jupyter notebook |
| Anakonda |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#This a simple arithmetic expression to mutiply then add integers
#(3*4)+5
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author
Ali Shakeri